@use 'sass:math';
@import '../../styles/settings.scss';

.favorite {
  padding: $base-size;
}

.cards {
  color: $color-dark;
  width: calc(50% - 12px);
  margin: 0 auto;
  padding: ($base-size * 1.5);
  color: $color-dark;
}

.no_favorite_cards {
  text-align: center;
  text-transform: uppercase;
  font-size: $base-size * 2;
}